<Project>
    <PropertyGroup>
        <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:8.0</ContainerBaseImage>
        <ContainerImageTags>1.0.5;latest</ContainerImageTags>
        <ContainerRegistry>ghcr.io</ContainerRegistry>
        <ContainerRepository>jeffu231/FlexRadioServices</ContainerRepository>
    </PropertyGroup>
    <ItemGroup>
    <ContainerLabel Include="org.opencontainers.image.source" Value="https://github.com/jeffu231/FlexRadioServices" />
    <ContainerLabel Include="org.opencontainers.image.description" Value="Flex Radio Services - An API to integrate with Flex 6xxx radios" />
    <ContainerLabel Include="org.opencontainers.image.licenses" Value="MIT" />
</ItemGroup>
</Project>