<Project>
    <PropertyGroup>
        <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:8.0</ContainerBaseImage>
        <ContainerImageTags>1.0.3;latest</ContainerImageTags>
        <ContainerRegistry>ghcr.io</ContainerRegistry>
        <ContainerRepository>jeffu231/FlexRadioServices</ContainerRepository>
    </PropertyGroup>
</Project>